@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
	--font-rubik: 'Rubik', sans-serif;
	--font-lato: 'Lato', sans-serif;
}

body {
	font-family: var(--font-rubik);
}

.rubik {
	font-family: var(--font-rubik);
}

.lato {
	font-family: var(--font-lato);
}

.container {
	max-width: 1224px;
}

.activeLink {
	position: relative;
}

.activeLink::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #4640de;
}

/* Кастомний breakpoint для мобільного меню на 985px */
.mobile-menu-hidden {
	display: flex;
}

.mobile-menu-visible {
	display: none;
}

.mobile-menu-content {
	display: block;
}

@media (min-width: 985px) {
	.mobile-menu-hidden {
		display: none !important;
	}
	.mobile-menu-visible {
		display: flex !important;
	}
	.mobile-menu-content {
		display: none !important;
	}
}

.fi {
	width: 42px !important;
	height: 32px !important;
	display: inline-block;
}

.drivers-swiper .swiper-pagination-bullet-active {
	background-color: #4640de;
}

.drivers-swiper .swiper-wrapper {
	margin-bottom: 40px;
}

.drivers-swiper .swiper-pagination {
	bottom: 0 !important;
}

.reviews-swiper .swiper-pagination-bullet-active {
	background-color: #4640de;
}

.reviews-swiper .swiper-wrapper {
	margin-bottom: 40px;
}

.reviews-swiper .swiper-pagination {
	bottom: 0 !important;
}

.parallelogram {
	position: absolute;
	z-index: 1;
	width: 780px;
	height: 320px;
	background-color: transparent;
	border: 4px solid #CCCCF5;
	transform: skewX(-30deg);

}
