@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@font-face {
	font-family: Rubik;
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/Rubik-Regular.ttf') format('truetype');
}
@font-face {
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	src: url('./assets/fonts/Rubik-Medium.ttf') format('truetype');
}

@font-face {
	font-family: Rubik;
	font-style: normal;
	font-weight: 600;
	src: url('./assets/fonts/Rubik-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	src: url('./assets/fonts/Lato-Bold.ttf') format('truetype');
}
@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 800;
	src: url('./assets/fonts/Lato-ExtraBold.ttf') format('truetype');
}

:root {
	--font-rubik: 'Rubik', sans-serif;
	--font-lato: 'Lato', sans-serif;
}

body {
	font-family: var(--font-rubik);
}

.rubik {
	font-family: var(--font-rubik);
}

.lato {
	font-family: var(--font-lato);
}

.container {
	max-width: 1224px;
}


#hero:before {
	content: '';
	position: absolute;
	top: 30px;
	left: 0;
	display: block;
	width: 170px;
	height: 230px;
	background-image: url(./assets/hero-left.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

#hero:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	display: block;
	width: 250px;
	background-image: url(./assets/hero-right.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left bottom;
}


#reviews:before {
	content: '';
	position: absolute;
	top: 0;
	right: 100px;
	display: block;
	width: 300px;
	height: 140px;
	background-image: url(./assets/footer-top.png);
	background-repeat: no-repeat;
	background-position: bottom;
}

#reviews:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	width: 530px;
	height: 276px;
	background-image: url(./assets/footer-bottom.png);
	background-repeat: no-repeat;
	background-position: bottom;
}



.activeLink {
	position: relative;
}

.activeLink::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #4640de;
}

/* Кастомний breakpoint для мобільного меню на 985px */
.mobile-menu-hidden {
	display: flex;
}

.mobile-menu-visible {
	display: none;
}

.mobile-menu-content {
	display: block;
}

@media (min-width: 985px) {
	.mobile-menu-hidden {
		display: none !important;
	}
	.mobile-menu-visible {
		display: flex !important;
	}
	.mobile-menu-content {
		display: none !important;
	}
}

.fi {
	width: 42px !important;
	height: 32px !important;
	display: inline-block;
}

.drivers-swiper .swiper-pagination-bullet-active {
	background-color: #4640de;
}

.drivers-swiper .swiper-wrapper {
	margin-bottom: 40px;
}

.drivers-swiper .swiper-pagination {
	bottom: 0 !important;
}

.reviews-swiper .swiper-pagination-bullet-active {
	background-color: #4640de;
}

.reviews-swiper .swiper-wrapper {
	margin-bottom: 40px;
}

.reviews-swiper .swiper-pagination {
	bottom: 0 !important;
}

.parallelogram {
	position: absolute;
	z-index: 1;
	width: 780px;
	height: 320px;
	background-color: transparent;
	border: 4px solid #ccccf5;
	transform: skewX(-30deg);
}
